body {
    font-family:Arial, Helvetica, sans-serif;
    height: 100vh;
    width: ;
    display: flex;
    flex-direction: column;
}

.introduction {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0px 240px;

}

.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo h4 {
    color: #fff;                    /*placeholder, change to correct color once layout is complete*/
}

.header_links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header_links a {
    color: #fff;                    /*placeholder, change to correct color once layout is complete*/
    text-decoration: none;
}

.second_level {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 120px;
    padding: 0px 240px;
}

.second_left {
    flex-wrap: wrap;
    width: 500px;
}

.second_level h1 {
    color: #fff;                    /*placeholder, change to correct color once layout is complete*/
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

.second_level p {
    color: #fff;                    /*placeholder, change to correct color once layout is complete*/
    flex-wrap: wrap;
}


.placeholder {
    display: flex;
    width: 500px;
    height: 200px;
    background-color:grey;
    color: #E5E7EB;
    font-size: 18px;
    justify-content: center;
    margin-left: 80px;
    flex-shrink: 0;
    align-items: center;
    padding-top:
}

.third_level {
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: #fff;
    padding: 0px
}

.group_of_eight {
    display: flex;
    flex-direction: column;
    justify-content:
}

.some_random h2{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    height: 80px;
    align-items: center;
    padding: 40px;
}

.four_boxes {
    display: flex;
    justify-content: center;
}

.bbl {
    width: 150px;
    height: 150px;
    border: lightblue 5px solid;              /*placeholder, change to correct color once layout is complete*/
    margin: 0px 30px;
    border-radius: 10px;
}

.box_descriptions {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
}

.bpl {
    width: 156px;
    margin: 0px 30px;
    margin-bottom: 120px;
    flex-wrap: wrap;  
    text-align: center;
}

footer {
    display: flex;
    height: 60px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
